@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  background: #8e87fa url(../images/background.png) no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "Lato", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}
